{% extends 'base.html' %}

{% block contents %}
<div class="space-y-12 py-6" x-data="{ showModal: false }">
    <div class="border-b border-gray-200 py-5">
        <h1 class="text-2xl font-bold">HTMX ShowCase</h1>
        <p class="text-md mt-2 text-gray-500">CRUD ด้วย HTMX กับข้อมูลใน DB</p>
    </div>

    <section>
        <div class="flex items-center justify-between">
            <h2 class="text-lg font-semibold">List item (add / search / delete / update / edit)</h2>
            <button class="btn-surachet" @click="showModal = true">+ เพิ่ม</button>
        </div>
        <!-- list -->

        <div class="bg-white rounded-lg border border-gray-200">
            <input type="text" placeholder="ค้นหา">
        </div>
        {% include "showcase/partials/demo_item_list.html" with items=demo_items %}
    </section>

    <div
        class="fixed inset-0 z-20 flex items-center justify-center bg-black/50"
        x-show="showModal"
        x-cloak
        @keydown.escape.window="showModal = false"
    >
        <div
            class="w-1/2 rounded-xl bg-white p-6"
            x-show="showModal"
            x-transition
            @click.outside="showModal = false"
        >
            <h3 class="text-md">เพิ่มรายการใหม่</h3>
            <form
                hx-post="{% url 'htmx_showcase_add' %}"
                hx-target="#demo-search-list"
                hx-swap="outerHTML"
                @htmx:after-request="showModal = false; this.reset()"
            >
                {% csrf_token %}
                <input
                    type="text"
                    name="title"
                    class="w-full rounded-md border px-3 py-2"
                    placeholder="เพิ่มข้อมูลรายการ"
                >
                <div class="mt-2 flex justify-end gap-2">
                    <button type="submit" class="rounded-md bg-green-600 px-3 py-2 text-white">เพิ่ม</button>
                    <button
                        @click="showModal = false"
                        type="button"
                        class="rounded-md bg-red-600 px-3 py-2 text-white"
                    >
                        ยกเลิก
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}